<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

<div class='deleteCommentButton'>
  <p>
  <%= link_to "Delete Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Don't wanna see this comment anymore?"
              } %>
  </p>
</div>

<% end %>